# Ignore all files of the following types
*.csv
*.xls
*.xlsx
*.RDS
*.xml

# Ignore entire directories
Archive/
data/

# Ignore specific files
.Rproj.user
.Rhistory
scratch.R
zenburn_markdown_udl.xml
*.xml
